.SideDrawer {
  position: fixed;
  z-index: 200;
  width: 50px;
  height: 100%;
  max-width: 70%;
  left: 0;
  top: 56px;
  background-color: #a5acaa;
  box-sizing: border-box;
  transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in; /* Firefox 4 */
  -webkit-transition: all 0.1s ease-in; /* Safari 和 Chrome */
  -o-transition: all 0.1s ease-in; /* Opera */
}

.DrawerToggle {
  position: relative;
  display: flex;
  padding: 10px 10px 10px 10px;
}

.DrawerToggle i {
  width: 28px;
}

.Label {
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  color: white;
  align-items: center;
  padding: 10px 0 10px 0;
}

.Label h4 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  padding-top: 2px;
  padding-left: 30px;
}

.Selected {
  background-color: rgba(130, 127, 255, 0.3);
}

.Opened {
  width: 60%;
}

.Container {
  cursor: pointer;
  position: relative;
  display: flex;
}

.ContainerFirst {
  margin-top: 10px;
}

@media (min-width: 600px) {
  .Opened {
    width: 280px;
  }
}
