.DrawerToggle {
  width: 30px;
  height: 46px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 11px 0;
  box-sizing: border-box;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 25px;
}

.DrawerToggle div {
  width: 90%;
  height: 2px;
  background-color: white;
}
