.Task {
  z-index: 5;
  position: relative;
  display: flex;
  border-bottom: 0.2px solid gainsboro;
  margin: 0 12px;
  padding-left: 10px;
}

.Selected {
  background-color: rgba(130, 127, 255, 0.1);
}

.Task:active {
  background-color: transparent;
}

.TaskContainer {
  min-height: 52px;
  position: relative;
  height: 100%;
  width: auto;
  align-items: center;
  display: flex;
}

.TaskContainerWide {
  width: 100%;
}

.CursorPointer {
  cursor: pointer;
}

.TaskBody {
  width: 100%;
  padding-left: 10px;
}

.CheckIcon {
  cursor: pointer;
  color: #827fff;
  z-index: 1000;
}

.TaskButton {
  text-align: left;
  padding-left: 15px;
  width: 100%;
}

.TaskButtonCompleted {
  text-decoration: line-through;
}

@media (min-width: 600px) {
  .Task:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
